body {
  background-color: black;
  font-family: Verdana, sans-serif;
  text-align: center;
}
.header {
  font-weight: normal;
  color: white;
  font-size: 50px;
}
.link {
  color: Aquamarine;
  font-size: 16px;
}
